body {
    align-items: center;
    background-color: #fffbe6;
    display: flex;
    flex-direction: column;
    font-family: "Ledger";
    margin:0;
    padding:0;
}

.map-container {
    bottom:0;
    position:absolute;
    top:8em;
    width: 80%;
}
